{% raw %}{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Change Password" %}{% endblock %}

{% block whitebox %}
<h1 class="mb-5 text-3xl text-center">Change Password</h1>
<form method="POST" action="{% url 'account_change_password' %}" class="flex flex-col mt-4">
  {% include "account/_render_form.html" %}
  {{ form|crispy }}
  {% include "account/_button.html" with text="Change Password" %}
</form>
{% include "account/_links.html" %}
{% endblock %}
{%- endraw %}
