{% raw %}{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% translate "Sign Up Closed" %}{% endblock %}

{% block content %}
<div class="flex flex-col items-center justify-center w-screen h-screen text-gray-700 bg-gray-200">
  <div class="flex flex-col items-center p-12 bg-white rounded shadow-lg">
    <h1 class="mb-5 text-3xl">{% trans "Sign Up Closed" %}</h1>
    <p>{% trans 'We are sorry, but the sign up is currently closed.' %}</p>

    {% include "account/_links.html" %}
  </div>
</div>
{% endblock %}
{%- endraw %}
