**/.git
**/.github
**/.gitignore
**/.gitattributes
**/.editorconfig
**/.idea
**/.vscode
**/.fleet
**/coverage
**/.env
**/.aws
**/.ssh
Dockerfile
README.md
docker-compose.yml
.pre-commit-config.yaml
.readthedocs.yml
**/.DS_Store
**/venv
**/env
**/.env
**/.envs
